# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# environment variables file
!.env.example
.env*
*.envrc

# typeorm
ormlogs.log

*.DS_Store

.vscode