# dashboard, collector, server(graphql)
APP_TYPE=

# local, dev, prod
APP_ENV=

SERVER_PORT=

SENTRY_DSN=

# Swagger docs
OPEN_API=

# Throttle option
THROTTLE_LIMIT=
THROTTLE_TTL=

# API version prefix
API_VERSION=
