# dashboard, collector, server(graphql)
APP_TYPE=

# local, dev, staging, prod
APP_ENV=

# serperated by ,
CORS_ORIGIN=

SERVER_PORT=

SENTRY_DSN=

# Swagger docs enable
OPEN_API=

# Throttle option
THROTTLE_LIMIT=
THROTTLE_TTL=
